.container-not-found {
    text-align: center;
}

h1 {
    margin: 2.5% 0;
    font-size: 2rem;
    font-style: italic;
}

@media (max-width: 480px) {
    .container-not-found img{
        max-width: 75%;
    }   
    
    h1 {
        margin: 20% 0;
    }
}