.detail, img, button{
    border-radius: 10px;
}

.detail{
    display: flex;
    flex-direction: column;
    background-color:  #201c1c;
    border: 1px solid #343434;
    margin: 3% 20%;
    padding: 1% 0;
}

.container-detail {
    display: flex;
    margin: 0 2%;
    gap: 10%;


    .img {
        flex-basis: 30%;
        margin: auto 0;
        margin-left: 10%;

        img {
            display: block;
            max-width: 100%;
        }
    }

    .description {
        padding: 15px;
        flex-basis: 40%;
    }

    p{
        font-size: 20px;
        color: #999999;
    }

    strong{
        display: inline-flex; 
    }
}


.header-detail {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    width: auto; /* Ajusta el ancho del header según el contenido */
}

.go-back, .category{
    font-size: 12px;
    margin-bottom: 15%;
    border-radius: 10px;
    border: 1px solid #343434;
    text-align: center;
    padding: 2%;
    
}
  
.go-back{ 
    margin-right: 5%;
    margin-bottom: 0;
}

.category{
    width: 30%;
    margin: 5% 0;
}

.go-back a{
    text-decoration: none;
    color: #999999;
    font-size: 16px;  
}

.category p{
    margin: 0;
}

.bottom-detail{
    margin-top: 10%;
    display: flex;
    gap: 25%;
}

.price p{
    font-size: 18px;
    margin: 0; 
    margin-bottom: 10%;  
}

.price span{
    font-size: 24px;
    font-weight: 600;
}

.bottom-product a {
flex: 1;
margin: 0 2.5%;
}

button {
    margin: 5% 1.5%;
    color: white;
    background-color: #4c7ec1;
    border: none;
    padding: 2% 5%; 
    font-size: 18px;
}

#star-icon{
    width: 1.2em;
}