// Sección detalles

.detail, img, button{
    border-radius: 10px;
}

.detail{
    display: flex;
    flex-direction: column;
    background-color:  #201c1c;
    border: 1px solid #343434;
    margin: 3% 20%;
    padding: 1% 0;
}

// Sección encabezado

.header-detail {
    display: flex;
    justify-content: flex-end; 
}

.go-back, .category{
    font-size: 12px;
    margin-bottom: 15%;
    border-radius: 10px;
    border: 1px solid #343434;
    text-align: center;
    padding: 2%;
    
}

.go-back{ 
    margin-right: 5%;
    margin-bottom: 0;
}

.go-back a{
    font-size: 16px;  
}

.container-detail {
    display: flex;
    margin: 0 2%;
    margin-bottom: 2%;
    gap: 5%;


    .img {
        flex-basis: 40%;
        margin: auto 0;
        margin-left: 5%;

        img {
            display: block;
            max-width: 100%;
        }
    }

    .description {
        padding: 15px;
        flex-basis: 40%;
    }

    p{
        font-size: 20px;
    }

    strong{
        display: inline-flex; 
    }
}


.category{
    width: 30%;
    margin: 5% 0;
}

.category p{
    margin: 0;
}

.bottom-detail{
    margin-top: 10%;
    display: flex;
    gap: 25%;
}

.price p{
    font-size: 18px;
    margin: 0; 
    margin-bottom: 10%;  
}

.price span{
    font-size: 24px;
    font-weight: 600;
}

.bottom-product a {
flex: 1;
margin: 0 2.5%;
}

button {
    margin: 5% 1.5%;
    background-color: #4c7ec1;
    padding: 2% 5%; 
    font-size: 18px;
}

#star-icon{
    width: 1.2em;
}

@media (max-width: 480px) {
    .detail{
        margin: 3%;
        margin-bottom: 20%;
        padding: 1% 0;
    }

    .go-back{
        margin-right: 4%;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .container-detail{
        display: flex;
        flex-direction: column;
        .img {
            margin: 0 auto;
            max-width: 95%;
        }

        .description {
            padding-bottom: 0;
        }
    }

    .category{
        margin-bottom: 20%;
    }

    button {
        margin: 5% 0;
        margin-left: 5.25%; 
    }
}