.contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0;
    margin-left: 15%;
    margin-right: 3%;
    div{
      flex-basis: 25%;
      margin: 1% 1.5%;
    }
}  

@media (max-width: 480px) {
  .contenedor-productos{
    flex-direction: column;
    margin: 5% 7.5%;
  }
}