.container-products{
    display: flex;
    flex-wrap: wrap;
    margin: 2% 5%;
    div{
      flex-basis: 30%;
      margin: 1% 1.5%;
    }
}  

// Sección búsqueda y filtrado

.search-n-filter{
  display: flex;
  justify-content: center; 
  gap: 15%;
  flex-wrap: wrap;
  margin-top: 3%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

// busqueda imagen

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.mat-mdc-chip-set {
  max-width: 200px;

}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: #2c2c2c;

}

.mat-mdc-standard-chip.mdc-evolution-chip--selected:not(.mdc-evolution-chip--disabled){
  background-color: #4c7ec1;
}

@media (max-width: 480px) {
  .container-products{
    flex-direction: column;
    margin: 5% 7.5%;
  }

  .search-and-filter {
    flex-direction: column;
  }

  .example-form, .mat-mdc-chip-set {
    max-width: 100%;
    margin-bottom: 10px;
  }
}