.container-product, img, button{
  border-radius: 10px;
}

.container-product {
  width: auto;
  height: fit-content; 
  padding: 5% 7.5%; 
  border: 1px solid #343434;
  box-sizing: border-box;
  

  .container-img {
    height: 150px; 
  }

  h2 {
    font-weight: 600;
    font-size: 20px; 
  }

  img {
    margin-top: 15%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}

.category{
  width: 30%;
  font-size: 12px;
  margin: 5% 0;
  border-radius: 10px;
  border: 1px solid #343434;
  text-align: center;
  padding: 2%;
}

.category p{
  margin: 0;
}

.bottom-product{
  margin-top: 10%;
  display: flex;
  gap: 25%;
}

.price p{
    font-size: 12px;
    color: #999999;
    margin: 0; 
    margin-bottom: 10%;  
}

.price span{
  font-weight: 600;
}

.bottom-product a {
  flex: 1;
  margin: 0 2.5%;
}

button {
  margin: 5% 1.5%;
  color: white;
  background-color: #4c7ec1;
  border: none;
  padding: 4% 10%; 
  font-size: 18px;
}