// seccion contenedor producto
.container-product, img, button{
  border-radius: 10px;
}

.container-product {
  width: auto;
  height: fit-content; 
  padding: 5% 7.5%; 
  border: 1px solid #343434;
  box-sizing: border-box;
  
  h2 {
    font-weight: 600;
    font-size: 20px; 
  }

  // imagen
  .container-img {
    height: 200px; 
  }

  img {
    margin-top: 15%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}

// div categoría

.category{
  width: 30%;
  font-size: 12px;
  margin: 5% 0;
  border-radius: 10px;
  border: 1px solid #343434;
  text-align: center;
  padding: 2%;
}

.category p{
  margin: 0;
}

// seccion del fondo (precio y botón)

.bottom-product{
  margin-top: 10%;
  display: flex;
  gap: 40%;
}

.bottom-product a {
  flex: 1;
  margin: 0 2.5%;
}


.price p{
  font-size: 12px;
  color: #999999;
  margin: 0; 
  margin-bottom: 10%;  
}

.price span{
  font-weight: 600;
}

button {
  margin-left: 5%;
  background-color: #4c7ec1;
  padding: 4% 10%; 
  font-size: 18px;
}

@media (max-width: 480px) {

  // seccion contenedor producto

  .container-product{
    margin-bottom: 5%;
    padding: 5%; 
    padding-bottom: 0%;

    // imagen

    .container-img {
      height:0%; 
    }
    img {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }

  // seccion del fondo (precio y botón)

  .bottom-product{
    gap: 25%;
  }

  .bottom-product a {
    margin-left: 4.5%;
    margin-right: 0;
  }

  button {
    margin-right: 0;
    margin-left: 20%;
    margin-bottom: 10%;
    padding: 4% 10%; 
  }
}