// Seccion Presentacion

p{
    font-size: 20px;
}

.presentation-container {
    text-align: center;
    background-image: url('../../../assets/media/inicio/inicio-background.png');
    background-size: cover; 
    background-position: center;
    padding: 10% 0; 
}

.presentation-container h1{
    font-size: 60px;
    max-width: 80%;
    margin: 0 auto;
}

.last-word {
    background: linear-gradient(to right, #4c7ec1, rgba(76, 126, 193, 0.1));
    background-clip: text; 
    color: transparent; 
}

.presentation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
// Configuracion Botones

button{
    padding: 1% 2%;
    margin: 0 1%;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Urbanist' , sans-serif;
}


.presentation-buttons .color-button,.auth-buttons .color-button {
    background-color: #4c7ec1;
}

.color-button:hover {
    background-color: #6a9ee2;
}

// Seccion Ventajas

.advantages-container {
    text-align: center;
}

.advantages-container p{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 5%;
}

.advantages {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5%;
}

.advantages p{
    max-width: 90%;
    margin: 0;
}

.options {
    flex: 0 0 30%;
    text-align: left;
    flex-grow: 0.3;
}

.advantage {
    padding: 5% 10%;
    margin: 5% 0;
    border: 5px solid #343434;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color:  #282424;
    display: flex;
}

.advantage.clicked {
    border-color: #4c7ec1;
    background-color:  #181414;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    width: 25%; 
    height: 25%; 
    margin: auto 0;
}

.icon-container img {
    width: 100%; 
    height: auto; 
    padding: 25%;
}

.img-advantage{
    margin: auto 0;
}

.img-advantage img{
    max-width: 80%;
}

// Seccion Login

.main-login-container {
    background-image: url('../../../assets/media/inicio/mail-background.png');
    padding: 2%;
    margin: 5% 15%;
    border-radius: 10px;
    background-size: cover; 
}

.login-container {
    border-radius: 10px;
    width: 70%;
}

.login-content {
    padding: 1% 5%;
}

.login-content h3 {
    font-size: 16px;
}

.login-content p {
    font-size: 18px;
}

.login-content .color-button{
    margin-left: 15%;
    margin-right: 10%;
}

@media (max-width: 480px) {

    // Seccion Presentacion

    .presentation-container h1 {
        font-size: 40px;
    }

    .presentation-buttons button {
        font-size: 14px;
        padding: 2% 4%;
    }

    // Seccion Ventajas

    .advantages {
        flex-direction: column;
    }

    .advantage {
        flex-direction: column;

        .icon-container {
            width: 50px;
            height: 50px;
            margin-bottom: 15px;
        }
    }

    .options{
        padding: 5%;
    }
    
    // Seccion Login

    .main-login-container {
        margin: 5% 5%;

        .login-container {
            width: 90%;
        }

        .login-content h3 {
            font-size: 18px;
        }

        .login-content p {
            font-size: 16px;
        }

        .auth-buttons{
            display: flex;
        }
        
        .auth-buttons button{
            padding: 10% 0%;
        }
    }
}