<!-- seccion header -->
<header>
  <h1>Fake Store</h1>
  <div class="nav">
    <a [routerLink]="['inicio']" [routerLinkActive]="['active']">Inicio</a>
    <a [routerLink]="['tienda']" [routerLinkActive]="['active']">Tienda</a>
    <a [routerLink]="['nosotros']" [routerLinkActive]="['active']">Nosotros</a>
  </div>
  <div class="logo-container">
    <div class="logo-img">
      <a href="mailto:wendy.balderrama@ucb.edu.bo">
        <img src="../assets/media/logo-Wendy.png" alt="logo Wendy Balderrama">
      </a>
    </div>
    <div class="logo-img">
      <a href="mailto:luis.menacho@ucb.edu.bo">
        <img src="../assets/media/logo-Luis.png" alt="logo Luis Menacho">
      </a>
    </div>
    <div class="logo-img">
      <a href="mailto:juan.montoya@ucb.edu.bo">
        <img src="../assets/media/logo-Juanpi.png" alt="logo Juan Pablo Montoya">
      </a>
    </div>
    <div class="logo-img">
      <a href="https://github.com/JuanpiMontoya/Trabajo_en_grupo_fake_store_api">
        <img src="../assets/media/logo-GitHub.png" alt="logo GitHub">
      </a>
    </div>
  </div>
</header>
Ideas para el sitio
<a href="https://react-shop-siza.vercel.app/products" target="_blank">Opcion 1</a>
<a href="https://fake-store-shopping-app.netlify.app" target="_blank">Opcion 2</a>

<!-- seccion contenido -->
<router-outlet />

<!-- seccion footer -->
<footer>
  <!-- div contenido footer -->
  <div class="footer-content">
    <!-- seccion 1 -->
    <div class="footer-section footer-section-1">
            <a [routerLink]="['inicio']">Terminos y condiciones</a> - 
            <a [routerLink]="['inicio']">Privacidad</a> 
    </div>
    <!-- seccion 2-->
    <div class="footer-section footer-section-2">
        <h5>Cosas Inicio</h5>
        <section>
            <nav>
                <ul id="menu-1">
                    <li><a [routerLink]="['inicio']">Ejemplo 1</a></li>
                    <li><a [routerLink]="['inicio']">Ejemplo 2</a></li>
                    <li><a [routerLink]="['inicio']">Ejemplo 3</a></li>
                    <li><a [routerLink]="['inicio']">Ejemplo 4</a></li>
                </ul>
            </nav>
        </section>
    </div>
    <!-- seccion 3-->
    <div class="footer-section footer-section-3">
      <h5>Cosas Tienda</h5>
      <section>
          <nav>
              <ul id="menu-2">
                <li><a [routerLink]="['tienda']">Ejemplo 1</a></li>
                <li><a [routerLink]="['tienda']">Ejemplo 2</a></li>
                <li><a [routerLink]="['tienda']">Ejemplo 3</a></li>
                <li><a [routerLink]="['tienda']">Ejemplo 4</a></li>
              </ul>
          </nav>
      </section>
    </div>
    <!-- seccion 4-->
    <div class="footer-section footer-section-4">
      <h5>Cosas Sobre Nosotros</h5>
      <section>
          <nav>
              <ul id="menu-3">
                <li><a [routerLink]="['nosotros']">Ejemplo 1</a></li>
                <li><a [routerLink]="['nosotros']">Ejemplo 2</a></li>
                <li><a [routerLink]="['nosotros']">Ejemplo 3</a></li>
                <li><a [routerLink]="['nosotros']">Ejemplo 4</a></li>
              </ul>
          </nav>
      </section>
    </div>
    <div class="footer-section footer-section-4">
      <h5>Contactanos</h5>
      <p>Reciba las últimas noticias y artículos en su bandeja de entrada todos los meses.</p>
      <section class="email-container">
          <input type="email" placeholder="Tu email" class="email-input">
          <button class="submit-button">
            <span> → </span>
          </button>
      </section>
    </div>
  </div>
  <!-- div copyright footer-->
  <div class="footer-copyright">
    <p>Copyright &copy; 2024</p>
    <p>Realizado en <a href="https://angular.dev" target="_blank">Angular</a> junto con la <a href="https://fakestoreapi.com" target="_blank">Fake Store Api</a></p>
    <div id="participantes">
      <span>Participantes:</span>
      <ul>
        <li><p>Wendy Isabel Balderrama Muñoz</p></li>
        <li><p>Luis Antonio Menacho Torrez</p></li>
        <li><p>Juan Pablo Montoya Jimenez</p></li>
      </ul>
    </div>
    <a href="https://github.com/JuanpiMontoya/Trabajo_en_grupo_fake_store_api">
      <img src="../assets/media/logo-GitHub.png" alt="logo GitHub">
    </a>
  </div>
</footer>
