/* Configuracion de header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url('../assets/media/header/header-background.png') center;
  background-size: cover; 
  border-bottom: 1px solid  #343434;
}

.links-container {
  display: flex;
  width: 70%;
}

a {
  padding-left: 7%;
}

/* Configuracion del menú de navegación */

.nav {
  background-color: #1c1c1c;
  display: flex;
  flex: 1; 
  justify-content: center; 
  margin-top: 3%;
  margin-left: 5%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; 
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; 
  border: 1px solid  #343434;
  padding: 0 5%;
  height: fit-content;
}

.nav a {
  padding: 2% 7%;
  font-size: 25px;
  transition: color 0.3s ease;  
}

/* Configuracion de logos */

.logo-container {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 7%;
  margin-top: 3%;
}

.logo-img {
  align-items: center; 
  margin-left: 3%;
  width: 45px;
  height: 45px;
  background-color: #1c1c1c;
  border-radius: 10%;
  border: 1px solid #343434;
  cursor: pointer; 
}

.logo-img img {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin-top: 10%;
}

.logo-container .logo-img:nth-child(4){
  margin-left: 15%;
}

.logo-container .logo-img:nth-child(4) img{
  margin-left: 7.5%;
}


/* Configuracion de botones registro e inicio de sesión */

.auth-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: 5%;
}

.auth-buttons button {
  padding: 5% 0;
}

.auth-buttons .color-button {
  background-color: #4c7ec1;
}

.auth-buttons .color-button:hover {
  background-color: #6a9ee2;
}

/* Configuracion de footer */

footer {
  padding: 0 10%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid white;
  padding-top: 2.5%;
  gap: 7%;
}

.footer-section {
  padding: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-section a {
  line-height: 2;
  padding: 0;
  font-size: 14px;
}

.footer-section a:hover {
  color: #343434;
}

.footer-section-1 a:hover {
  text-decoration: underline;
}

.footer-section-4 {
  max-width: 22.5%;
}

.email-container {
  display: flex;
  background-color: #1c1c1c;
}

.email-input {
  border: none;
  padding: 10px;
  font-size: 14px;
  flex: 1;
  background-color: #1c1c1c;
  color: white;
}

.submit-button {
  padding: 10px;
  border: none;
  background-color: #1c1c1c;
  color: #4c7ec1;
  border-left: 2px solid white;
  font-size: 18px;
  border-radius: 0%;
}

.footer-copyright {
  padding: 4% 5%;
  display: flex;
  border-top: 2px solid white; 
  margin-top: 5%;
  justify-content: space-between;
}

.footer-copyright ul {
  padding: 0;
  margin-left: 5%;
}

.footer-copyright a {
  font-size: 14px;
  padding: 0;
  color: #4c7ec1;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  
  /* Configuracion de header */

  .nav a {
    padding: 1% 5%;
    font-size: 20px;
  }

  .auth-buttons a{
    padding: 0;
  }

  .logo-container {
    margin-right: 2%;
  }

  .logo-img {
    width: 40px;
    height: 40px;
  }

  .logo-img img {
    width: 70%;
    height: 70%;
    margin-top: 15%;
  }
}

@media (max-width: 768px) {
  /* Configuracion de header */

  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .links-container {
    flex-direction: column;
    width: 100%;
  }

  .nav {
    flex-direction: column;
    margin-left: 0;
    padding: 10px 0;
  }

  .nav a {
    padding: 10px;
    font-size: 18px;
  }

  .logo-container {
    flex-direction: row;
    margin-right: 0;
  }

  .auth-buttons {
    flex-direction: row;
    gap: 10%;
    margin: 0 auto;
    margin-top: 3%;
  }

  .logo-img img {
    margin-left: 7.5%;
  }

}

@media (max-width: 480px) {

  /* Configuracion de header */

  h1 {
    font-size: 32px;
    margin: 10px 0;
  }

  .nav a {
    font-size: 16px;
  }

  .logo-img {
    width: 35px;
    height: 35px;
  }

  .logo-img img {
    margin-left: 7.5%;
  }

  .logo-container .logo-img:nth-child(4) img{
    margin-left: 15%;
  }


  /* Configuracion del footer */

  footer {
    padding: 0 5%;
  }

  .footer-content {
    display: block;
    align-items: center;
  }

  .footer-section {
    text-align: left;
    padding: 5px;
  }

  .footer-section ul {
    padding-left: 0;
  }

  .footer-section a {
    font-size: 14px;
  }

  .footer-section h5 {
    font-size: 14px;
  }

  .footer-section-4 {
    max-width: 100%;
  }

  .email-container {
    align-items: center;
    width: 77.5%;
  }

  .email-input {
    padding: 10px;
    font-size: 14px;
  }

  .submit-button {
    padding: 10px;
    font-size: 16px;
    border-left: none;
    border-left: 2px solid white;
  }

  .footer-copyright {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-top: 20px;
  }

  .footer-copyright ul {
    margin: 10px 0 0 0;
  }

  .footer-copyright img {
    width: 35px;
    height: 35px;
  }
}