@font-face {
    font-family: 'Urbanist';
    src: url('../src/assets/fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../src/assets/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body{
    margin: 0;
    color: white;
    background-color: #181414;
    font-family: 'Urbanist' , sans-serif;
}