// Ingresamos la fuente 

@font-face {
    font-family: 'Urbanist';
    src: url('../src/assets/fonts/Urbanist-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Urbanist';
    src: url('../src/assets/fonts/Urbanist-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

// Estilos de la página

html, body {
    height: 100%; 
    --mdc-filled-text-field-focus-active-indicator-color: #6a9ee2;
    --mdc-filled-text-field-focus-label-text-color: #4c7ec1;
}


body{
    margin: 0;
    color: white;
    background-color:  #181414;
    font-family: 'Urbanist' , sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    color: white;
}


h2,h5 {
    color: #4c7ec1;
}

h5{
    font-size: 14px;
}

p {
    font-size: 14px;
    color: white;
}

button {
    background-color: #343434;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
}

button:hover {
    background-color: #555;    
}
