<section class="about-container">
  <!-- seccion header -->
  <section class="mission" id="mission">
    <div class="text">
      <h2 class="tit1">Nuestra misión</h2>
      <p class="text1">
        Proporcionar productos de alta calidad que satisfagan las necesidades y expectativas de nuestros clientes.
        Nos apasiona lo que hacemos y nos esforzamos por ofrecer una experiencia de compra positiva a cada persona que interactúa con nuestra marca.
      </p>
    </div>
    <div class="img-container" id="om">
      <div >
        <img src="/assets/media/nosotros/pexels-cottonbro.png" alt="Imagen de Our Mission">
      </div>
    </div>
  </section>
  <!-- seccion equipo -->
  <section class="team" id="team">
    <div class="img-container" id="mout">
      <div>
        <img src="/assets/media/nosotros/pexels-angela-roma.png" alt="Imagen de Meet Our Team">
      </div>
    </div>
    <div class="text">
      <h2 class="tit2">Conozca nuestro equipo</h2>
      <p class="text2">
        Detrás de cada producto y servicio hay un equipo dedicado de personas apasionadas por su trabajo. Desde nuestros 
        ingenieros y diseñadores hasta nuestro equipo de atención al cliente, todos compartimos un compromiso con la excelencia. Creemos que el éxito 
        proviene de la colaboración y el trabajo en equipo, y valoramos la individualidad y las perspectivas únicas que cada miembro de nuestro equipo aporta.
      </p>
    </div>
  </section>
  <!-- seccion historia -->
  <section class="history" id="history">
    <div class="text">
      <h2 class="tit3">Nuestra Historia</h2>
      <p class="text3">
        Se fundó en 2024 con la visión de buscar lo mejor para nuestra clientela. Desde nuestros humildes comienzos, hemos crecido hasta convertirnos
        en una empresa líder con una presencia global. A lo largo de nuestro viaje, nunca hemos perdido de vista nuestros valores fundamentales.
      </p>
    </div>
    <div class="img-container" id="oh">
      <div>
        <img src="/assets/media/nosotros/pexels-alexander-dodd.png" alt="Imagen de Our History">
      </div>
    </div>
  </section>
  <!-- seccion con fondo -->
  <section class="background-section">
    <div>
      <h2>Lo que nos hace diferentes!</h2>
        <p> Nuestra pasión por el cliente: Nos preocupamos por nuestros clientes y nos esforzamos por ofrecerles la mejor experiencia posible. </p>
        <p>Nuestro equipo dedicado: Contamos con un equipo de personas talentosas y apasionadas que trabajan arduamente para lograr nuestros objetivos.</p>
        <p>Nuestro compromiso con la innovación: Siempre estamos buscando nuevas formas de mejorar nuestros productos y servicios.</p>
    </div>
  </section>
  <!-- seccion datos -->
  <section class="data-store">
    <div class="numbers-element">
      <div class="list-data">
        <div class="info-store">
          <h4>2.4M+</h4>
          <p>Ventas</p>
        </div>
        <div class="info-store">
          <h4>12M+</h4>
          <p>Usuarios</p>
        </div>
        <div class="info-store">
          <h4>5K+</h4>
          <p>5 Estrellas</p>
        </div>
        <div class="info-store">
          <h4>1</h4>
          <p>Año</p>
        </div>
      </div>
    </div>
  </section>
</section>