* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-navegacion: #6852f4;
  --borde-caja: #e7ecee;
  --fondo-elemento: #f5f5f5;
  --color-texto-caja: rgb(31, 44, 51);
}

::selection {
  background-color: var(--color-navegacion);
  color: white;
}

.about-container {
  padding: 20px;
}

.about-container section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.about-container section h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #4c7ec1;
  display: block;
  font-weight: bold;
  unicode-bidi: isolate;
  padding-left: 25px;
}

.about-container section p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #999999;
  padding-right: 50px;
  padding-left: 25px;
  font-optical-sizing: auto;
}

.about-container .texto {
  flex: 1; 
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.about-container .contenedor-imagen {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.about-container .contenedor-imagen img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

.about-container .mission .texto {
  order: 1;
  text-align: left; 
}

.about-container .mission .contenedor-imagen {
  order: 2; 
  width: 50%; 
}

.about-container .team .texto {
  order: 2; 
  text-align: right; 
}

.about-container .team .contenedor-imagen {
  order: 1; 
  width: 50%; 
}

.about-container .history .texto {
  order: 1; 
  text-align: left; 
}

.about-container .history .contenedor-imagen {
  order: 2; 
  width: 50%;
}

.elemento-sinfondo {
  padding: 100px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-image: url('/assets/media/pexels-karolina-grabowska-4207904.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-container .elemento-sinfondo h2 {
  color: white;
  font-size: 48px;
  padding-bottom: 30px;
}

.about-container .elemento-sinfondo p {
  color: white;
}

@media (max-width: 1000px) {
  .elemento-sinfondo {
    text-align: center;
  }
}

.fondo-blanco {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0;
}

.elemento-contador-numeros {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.elemento-lista-ventas {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  width: 80%; 
}

.lista-ventas {
  margin: 0 10px;
}

.lista-ventas h4, .lista-ventas p {
  margin: 5px 0;
  margin-bottom: 40px;
  font-size: 38px;
}

@media (max-width: 480px) {

  .about-container section {
    flex-direction: column;
  }

  .elemento-lista-ventas {
    flex-direction: column; 
  }

  .about-container section h2 {
    padding-left: 50px;
  }

  .about-container .team .contenedor-imagen {
    width: 100%; 
  }
  
  .about-container .history .contenedor-imagen {
    width: 100%;
    
  }

  #mout {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .about-container section h2, .about-container section p {
    padding-right: 3%;
    padding-left: 7%;
  }

  .elemento-sinfondo{
    padding-top: 0;
    padding-bottom: 0;
  }

  .fondo-blanco{
    padding-top: 0;
    padding-bottom: 0;
  }

  .fondo-blanco h4{
    margin-top: 40%;
    margin-bottom: 0;
  }

  .about-container .elemento-sinfondo h2 {
    margin: 10% 0;
    font-size: 40px;
    padding: 0;
  }

}