<section class="about-container">
    <section class="mission" id="mission">
      <div class="texto">
        <h2 class="tit1">Nuestra misión</h2>
        <p class="text1">
          Proporcionar productos de alta calidad que satisfagan las necesidades y expectativas de nuestros clientes.
          Nos apasiona lo que hacemos y nos esforzamos por ofrecer una experiencia de compra positiva a cada persona que interactúa con nuestra marca.
        </p>
      </div>
      <div class="contenedor-imagen" id="om">
        <div class="imagen-movida1">
          <img src="/assets/media/pexels-cottonbro-5076516.png" alt="Imagen de Our Mission" class="responsive-image">
        </div>
      </div>
    </section>

    <section class="team" id="team">
      <div class="contenedor-imagen" id="mout">
        <div class="imagen-movida2">
          <img src="/assets/media/pexels-angela-roma-7319125.png" alt="Imagen de Meet Our Team" class="responsive-image">
        </div>
      </div>
      <div class="texto">
        <h2 class="tit2">Conozca nuestro equipo</h2>
        <p class="text2">
          Detrás de cada producto y servicio hay un equipo dedicado de personas apasionadas por su trabajo. Desde nuestros 
          ingenieros y diseñadores hasta nuestro equipo de atención al cliente, todos compartimos un compromiso con la excelencia. Creemos que el éxito 
          proviene de la colaboración y el trabajo en equipo, y valoramos la individualidad y las perspectivas únicas que cada miembro de nuestro equipo aporta.
        </p>
      </div>
    </section>

    <section class="history" id="history">
      <div class="texto">
        <h2 class="tit3">Nuestra Historia</h2>
        <p class="text3">
          Se fundó en 2024 con la visión de buscar lo mejor para nuestra clientela. Desde nuestros humildes comienzos, hemos crecido hasta convertirnos
          en una empresa líder con una presencia global. A lo largo de nuestro viaje, nunca hemos perdido de vista nuestros valores fundamentales.
        </p>
      </div>
      <div class="contenedor-imagen" id="oh">
        <div class="imagen-movida3">
          <img src="/assets/media/pexels-alexander-dodd-812136-1687191.png" alt="Imagen de Our History" class="responsive-image">
        </div>
      </div>
    </section>

    <section class="elemento-sinfondo">
      <div>
        <h2>Lo que nos hace diferentes!</h2>
          <p> Nuestra pasión por el cliente: Nos preocupamos por nuestros clientes y nos esforzamos por ofrecerles la mejor experiencia posible. </p>
          <p>Nuestro equipo dedicado: Contamos con un equipo de personas talentosas y apasionadas que trabajan arduamente para lograr nuestros objetivos.</p>
         <p>Nuestro compromiso con la innovación: Siempre estamos buscando nuevas formas de mejorar nuestros productos y servicios.</p>
      </div>
    </section>

    <section class="fondo-blanco">
      <div class="elemento-contador-numeros">
        <div class="elemento-lista-ventas">
          <div class="lista-ventas">
            <h4>2.4M+</h4>
            <p>Ventas</p>
          </div>
          <div class="lista-ventas">
            <h4>12M+</h4>
            <p>Usuarios</p>
          </div>
          <div class="lista-ventas">
            <h4>5K+</h4>
            <p>5 Estrellas</p>
          </div>
          <div class="lista-ventas">
            <h4>1</h4>
            <p>Año</p>
          </div>
        </div>
      </div>
    </section>
</section>


  