<header>
    <div class="about-container">
      <section class="mission" id="mission">
        <div class="texto">
          <h2 class="tit1">Nuestra misión</h2>
          <p class="text1">
            Nuestra misión es proporcionar productos de alta calidad que satisfagan las necesidades y expectativas de nuestros clientes.
          </p>
        </div>
        <div class="contenedor-imagen" id="om">
          <div class="imagen-movida-izquierda">
            <img src="/assets/media/pexels-cottonbro-5076516.png" alt="Imagen de Our Mission" class="responsive-image">
          </div>
        </div>
      </section>
      <section class="team" id="team">
        <div class="texto">
          <h2 class="tit2">Conozca nuestro equipo</h2>
          <p class="text2">
            Contamos con un equipo dedicado y apasionado por lo que hacen.
          </p>
        </div>
        <div class="contenedor-imagen" id="mout">
          <div class="imagen-movida-izquierda">
            <img src="/assets/media/pexels-angela-roma-7319125.png" alt="Imagen de Meet Our Team" class="responsive-image">
          </div>
        </div>
      </section>
      <section class="history" id="history">
        <div class="texto">
          <h2 class="tit3">Our History</h2>
          <p class="text3">
            Desde nuestra fundación, hemos estado comprometidos con el compromiso en todo lo que hacemos.
          </p>
        </div>
        <div class="contenedor-imagen" id="oh">
          <div class="imagen-movida-izquierda">
            <img src="/assets/media/pexels-alexander-dodd-812136-1687191.png" alt="Imagen de Our History" class="responsive-image">
          </div>
        </div>
      </section>
    </div>
    <br>
  </header>
  